<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset='utf-8'>
<head>
    <title>Monthly - Event Tests</title>
	<link rel="stylesheet" href="dist/css/monthly.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			font-family: Calibri;
			background-color: #f0f0f0;
			padding: 0em 1em;
		}
		#mycalendar1 , #mycalendar2  {
			width: 100%;
			margin: 1em auto 0 auto;
			max-width: 60em;
			border: 1px solid #666;
		}
	</style>
</head>
<body ng-app="APP" ng-controller="MainCtrl">
	<div  style="text-align: center; margin-top:  5px;" >
		<input id="toggle-event"  type="checkbox" checked data-toggle="toggle"  data-on="ดูแบบเต็ม" data-off="ดูแบบย่อ" ng-model="toggle_mode_full" >
	</div>	
<div id="maincalendar">
	<div class="monthly" id="mycalendar1" ng-show="toggle_mode_full"></div>
	<div class="monthly" id="mycalendar2" ng-show="!toggle_mode_full"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"  data-target=".bd-example-modal-lg" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> 
	<div class="modal-dialog modal-dialog-centered" role="document" style="width: 80%;">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">{{modalData.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" id = "change_color">
            <table class="table">
                <thead>
                  <tr >
                    <th style="text-align: center" scope="col">เลขที่เอกสาร</th>
                    <th style="text-align: center" scope="col">ชื่อ-สกุล</th>
                    <th style="text-align: center" scope="col">เริ่ม</th>
                    <th style="text-align: center" scope="col">สิ้นสุด</th>
                    <th style="text-align: center" scope="col">จำนวน(ชั่วโมง)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  ng-class= "$index%2 == 0 ? 'active' : ''"  ng-repeat = "data in modalData.data">
                    <th>{{data.LEAVE_ID}} {{data.MGR_APPV_FLAG == "P" ? "(รอหัวหน้าอนุมัติ)" : data.MGR_APPV_FLAG == "A" && data.HR_APPV_FLAG == "P"? "(รอ HR อนุมัติ)" : "" }}</th>
                    <td>{{data.EMP_ID}} {{data.EMP_NAME}}</td>
                    <td style="text-align: center" >{{data.START_TIME}}</td>
                    <td style="text-align: center" >{{data.END_TIME}}</td>
                    <td style="text-align: center">{{data.QTY*8}}</td>
                  </tr>
                </tbody>
              </table>
		    
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
  
</body></html>

<script src="dist/js/angular.min.js"></script>
<script type="text/javascript" src="dist/js/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/app/global.js?ver=1.0.0.2"></script>
<script type="text/javascript" src="dist/js/monthly.js?ver=1.0.0.3"></script>
<script type="text/javascript" src="dist/app/calendar.js?ver=1.0.0.3"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<!-- <script type="text/javascript" src="dist/js/jscolor.js"></script> -->
