<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset='utf-8'>
<head>
    <title>Leave Report Calendar</title>
	<link rel="stylesheet" href="dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/css/bootstrap-toggle.min.css">
	<!-- <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css"> -->
	<link rel="stylesheet" href="dist/css/monthly.css">
	<link rel="stylesheet" href="dist/css/all.css">
	<style type="text/css">
		body {
			font-family: Calibri;
			background-color: #f0f0f0;
			padding: 0em 1em;
		}
		#mycalendar1 , #mycalendar2,  #mycalendar3  {
			width: 100%;
			margin: 1em auto 0 auto;
			max-width: 60em;
			border: 1px solid #666;
		}
		.zoom-font
		{
			font-size: 20px;
		}
	</style>
</head>
<body ng-app="APP" ng-controller="MainCtrl">
<div  class="fa-3x" style="background-color: rgb(129, 127, 127);width: 100vw;height: 100vh;z-index: 99;position: absolute;left: 0%;top: 0%;" ng-show="loading">
	<i class="fas fa-cog fa-spin" style=" left: 50%;top: 50%; position: fixed;" ></i>
</div>
<div  style="text-align: center; margin-top:  5px;"  ng-show="mode != 'FACTORY'" >
	<input id="toggle-event"  type="checkbox" ng-model="toggle_mode_full" ng-checked="toggle_mode_full" data-toggle="toggle"  data-style="ios" data-onstyle="success" data-offstyle="info" data-on="แสดงแบบเต็ม" data-off="แสดงแบบย่อ" >
</div>	
<div id="maincalendar" >
	<div class="monthly" id="mycalendar1" ng-show="toggle_mode_full && mode != 'FACTORY'"></div>
	<div class="monthly" id="mycalendar2" ng-show="!toggle_mode_full && mode != 'FACTORY'"></div>
	<div class="monthly" id="mycalendar3" ng-show="mode == 'FACTORY'"></div>
</div>

<!-- modal -->
<modal-detail-type></modal-detail-type>
<modal-detail-day></modal-detail-day>

  
</body>
</html>
<script type="text/javascript" src="dist/js/jquery.js"></script>
<script src="dist/js/popper.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="dist/js/bootstrap-toggle.min.js"></script>
<script src="dist/js/all.min.js"></script>
<script src="dist/js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
<script type="text/javascript" src="dist/app/global.js?ver=1.0.0.2"></script>
<script type="text/javascript" src="dist/js/monthly.js?ver=1.0.0.3"></script>
<script type="text/javascript" src="dist/app/calendar.js?ver=1.0.0.3"></script>
