<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="dist/css/index.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="dist/app/global.js?ver=1.0.0.1"></script>
    <!-- Angular -->
    <script src="dist/js/angular.min.js"></script>
    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="dist/app/index.js"></script>
    
   

    <title>สรุปการลาหยุดพนักงาน Ingeni</title>
</head>
<body  ng-app="APP" ng-controller="MainCtrl">
    <div class="col-md-12 setcenter section-to-print" id ="print-header" > 
        <div class="col-md-10">
            <h3>สรุปการลาหยุดพนักงาน Ingeni ปี {{ getPooSoo(Selyear)  }}</h3>
            <h4>ณ วันที่ {{getThaiDate(d_lastday)}}</h4>
        </div>
       
    </div>
  
    
   <div id="container-print" class="form-inline">
       <div class="row" id="hide-print">
            <div class="form-group" style="padding: 0px;margin-bottom: 5px;margin-top: 8px;margin-right: 5px;">
                <span style="font-size: 14px;">ปี</span>
            </div>
           <div class="form-group" style="padding: 0px;margin-bottom: 5px;">
                <select id="year_sel" class="form-control" ng-model="Selyear" ng-change="EventSelMonth()">
                    <option  ng-repeat = "year in years_data" value={{year}}>{{year+543}}</option>
                </select>
           </div>
           <div class="form-group" style="padding: 0px;margin-bottom: 5px;margin-top: 8px;margin-right: 5px;margin-left: 20px;">
            <span style="font-size: 14px;">เดือน </span>
            </div>
           <div class="form-group" style="padding: 0px;margin-bottom: 5px;">
                <select id = "month_sel" class="form-control" ng-model="Selmonth" ng-change="EventSelMonth()" >
                    <option value=0>มกราคม</option>
                    <option value=1>กุมภาพันธ์</option>
                    <option value=2>มีนาคม</option>
                    <option value=3>เมษายน</option>
                    <option value=4>พฤษภาคม</option>
                    <option value=5>มิถุนายน</option>
                    <option value=6>กรกฎาคม</option>
                    <option value=7>สิงหาคม</option>
                    <option value=8>กันยายน</option>
                    <option value=9>ตุลาคม</option>
                    <option value=10>พฤศจิกายน</option>
                    <option value=11>ธันวาคม</option>
                </select>
            </div>
       </div>

       <div class="row landscape"   >
                <table class="table table-bordered section-to-print" >
                    <colgroup>
                        <col  style="width: 5%;"  />
                        <col  style="width: 15%;" />
                        <col  style="width: 10%;" />
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                        <col  style="width: 10%;"/>
                      </colgroup>
                    <thead  class="sticky" >
                        <tr>
                            <th scope="col" rowspan="2">รหัสพนักงาน</th>
                            <th scope="col" rowspan="2">ชื่อ-นามสกุล</th>
                            <th scope="col" colspan="2">ลาพักร้อน</th>
                            <th scope="col" colspan="2">วันหยุดทดแทน</th>
                            <th scope="col" colspan="2">ลาป่วย</th>
                            <th scope="col" colspan="2">ลากิจ</th>
                        </tr>
                        <tr>
                            <th scope="col" >สิทธิ</th>
                            <th scope="col" >ลา</th>
                            <th scope="col" >สิทธิ</th>
                            <th scope="col" >ลา</th>
                            <th scope="col" >มีใบแพทย์</th>
                            <th scope="col" >ไม่มีใบแพทย์</th>
                            <th scope="col" >ได้รับค่าจ้าง</th>
                            <th scope="col" >ไม่ได้รับค่าจ้าง</th>
                        </tr style="background-color: aquamarine;" >
                    </thead>
                    <tbody>
                        <tr ng-class= "$index%2 == 0 ? 'active' : ''"  ng-repeat = "data in leave_data">
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'%')">{{data.EMP_ID}}</td>
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'%')">{{data.FULL_NAME}}</td>
                            <td>{{data.SUM_HLN}}</td>
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'HLN')">{{data.USED_HLN}}</td>
                            <td>{{data.SUM_BLS}}</td>
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'BLS')">{{data.USED_BLS}}</td ng-click="EventCLickViewDetail(Selyear,data.EMP_ID,'%'')">
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'SLN')">{{data.USED_SLN}}</td ng-click="EventCLickViewDetail(Selyear,data.EMP_ID,'%'')">
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'SLNNM')">{{data.USED_SLN_NO_MED}}</td ng-click="EventCLickViewDetail(Selyear,data.EMP_ID,'%'')">
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'BLP')">{{data.USED_BLP}}</td ng-click="EventCLickViewDetail(Selyear,data.EMP_ID,'%'')">
                            <td ng-dblclick="EventCLickViewDetail(Selyear,data.EMP_ID,'BLN')">{{data.USED_BLN}}</td ng-click="EventCLickViewDetail(Selyear,data.EMP_ID,'%'')">
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="KPI" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="">
        <div class="modal-dialog" style="width: 95%;">
                <div class="modal-content">
                    <div class="modal-header" >
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="">รายละเอียด</h4>
                    </div>
                    <div class="modal-body" style="padding-bottom: 0px;">
                        <div class="container" style="width: 100%;">
                          <div class="row">


                            <table class="table table-bordered section-to-print" >
                                <thead  >
                                    <tr>
                                        <th scope="col" >เลขทีเอกสาร</th>
                                        <th scope="col" >ประเภทการลา</th>
                                        <th scope="col" >เวลาเริ่ม</th>
                                        <th scope="col" >เวลาสิ้นสุด</th>
                                        <th scope="col" >จำนวน</th>
                                    </tr style="background-color: aquamarine;" >
                                </thead>
                                <tbody>
                                    <tr ng-class= "$index%2 == 0 ? 'active' : ''"  ng-repeat = "data in leave_data_detail">
                                        <td>{{data.LEAVE_ID}}</td>
                                        <td>{{data.L_TYPE_GRP_DESC}}</td>
                                        <td>{{data.START_TIME}}</td>
                                        <td>{{data.END_TIME}}</td>
                                        <td>{{ConvertToDateWork(data.QTY)}}</td>
                                        
                                </tr>
                                </tbody>
                            </table>
    
                          </div>
                        </div>
                    </div> <!-- div class="modal-body" style="padding-bottom: 0px;"> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >ปิด</button>
                    </div>
                </div>
        </div>
      </div>  


</body>

 <!-- <script>
    window.onscroll = function() {myFunction()};
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
 </script>  -->


</html>