<style>
    .tableFixHeadtype          { overflow: auto;  }
    .tableFixHeadtype thead th { position: sticky; top: -20px; z-index: 1; }
    th     { background:#eee; }
</style>
<!-- Modal -->
<div class="modal fade" id="ModalType" tabindex="-1" role="dialog"  data-target=".bd-example-modal-lg" aria-labelledby="ModalTypeTitle" aria-hidden="true"> 
	<div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 100%">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">{{modalData.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body fix-full-screen" id = "detailType">
            <table class="table tableFixHeadtype">
                <thead>
                  <tr >
                    <th style="text-align: center" scope="col">เลขที่เอกสาร</th>
                    <th style="text-align: center" scope="col">ชื่อ-สกุล</th>
                    <th style="text-align: center" scope="col">เริ่ม</th>
                    <th style="text-align: center" scope="col">สิ้นสุด</th>
                    <th style="text-align: center" scope="col">จำนวน(ชั่วโมง)</th>
                  </tr>
                </thead>
                <tbody>
                    <tr  ng-class= "$index%2 == 0 ? 'active' : ''"  ng-repeat = "data in modalData.data ">
                    <td>{{data.LEAVE_ID}} {{data.MGR_APPV_FLAG == "P" ? "(รอหัวหน้าอนุมัติ)" : data.MGR_APPV_FLAG == "A" && data.HR_APPV_FLAG == "P"? "(รอ HR อนุมัติ)" : "" }}</td>
                    <td>{{data.EMP_ID}} {{data.EMP_NAME}}</td>
                    <td style="text-align: center" >{{data.START_TIME}}</td>
                    <td style="text-align: center" >{{data.END_TIME}}</td>
                    <td style="text-align: center">{{data.QTY*8}}</td>
                  </tr>
                </tbody>
              </table>
		    
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
