<!-- Modal -->
<style>
    .fix-full-screen
    {
        height: 70vh;
        overflow-y: auto;
    }
    .tableFixHead          { overflow: auto;  }
    .tableFixHead thead th { position: sticky; top: 23px; z-index: 1; }
    #selecttype            {position: sticky; top: -15px; z-index: 2;}
    th     { background:#eee; }
    .modal
    {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .modal-dialog
    {
      margin: 0px;
    }
</style>
<div class="modal fade" id="ModalDay" tabindex="-1" role="dialog"  data-target=".bd-example-modal-lg" aria-labelledby="ModalDayTitle" aria-hidden="true"> 
	<div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 100%">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">วันที่ {{dateformat(modalData.startdate)}} จำนวน {{modalData.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body fix-full-screen" id = "detailDay">


        <div id="selecttype">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">ประเภทการลา</label>
                </div>
                <select class="custom-select" id="listTypeGrp" ng-model="list_type_grp_filter">
                    <option  value="" selected>ทั้งหมด</option>
                    <option ng-repeat = "data in key_dropdown_type_grp"  value="{{data}}">{{data}}</option>
                </select>
            </div>
        </div>
       

          <table class="table tableFixHead" ng-show = "includeDesktopTemplate">
              <thead >
                <tr >
                  <th style="text-align: center" scope="col">เลขที่เอกสาร</th>
                  <th style="text-align: center" scope="col">ประเภทการลา</th>
                  <th style="text-align: center" scope="col">ชื่อ-สกุล</th>
                  <th style="text-align: center" scope="col">เริ่ม</th>
                  <th style="text-align: center" scope="col">สิ้นสุด</th>
                  <th style="text-align: center" scope="col">จำนวน(ชั่วโมง)</th>
                </tr>
              </thead>
              <tbody>
                <tr  ng-class= "$index%2 == 0 ? 'active' : ''"  ng-repeat = "data in modalData.data  | orderBy: 'START_TIME' | filter: list_type_grp_filter ">
                  <td>{{data.LEAVE_ID}} {{data.MGR_APPV_FLAG == "P" ? "(รอหัวหน้าอนุมัติ)" : data.MGR_APPV_FLAG == "A" && data.HR_APPV_FLAG == "P"? "(รอ HR อนุมัติ)" : "" }}</td>
                  <td style="text-align: center" >{{data.L_TYPE_GRP_DESC}}</td>
                  <td>{{data.EMP_ID}} {{data.EMP_NAME}}</td>
                  <td style="text-align: center" >{{data.START_TIME}}</td>
                  <td style="text-align: center" >{{data.END_TIME}}</td>
                  <td style="text-align: center">{{data.QTY*8 == 8 ? '24' : data.QTY*8}} </td>
                </tr>
              </tbody>
            </table>  

            <div class="list_card" ng-show = "includeMobileTemplate">
                <div class="card" ng-repeat = "data in modalData.data  | orderBy: 'START_TIME' | filter: list_type_grp_filter ">
                  <div class="card-header">
                    {{data.LEAVE_ID}} {{data.MGR_APPV_FLAG == "P" ? "(รอหัวหน้าอนุมัติ)" : data.MGR_APPV_FLAG == "A" && data.HR_APPV_FLAG == "P"? "(รอ HR อนุมัติ)" : "" }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <span>ประเภทการลา : </span>{{data.L_TYPE_GRP_DESC}}
                    </blockquote>
                    <blockquote class="blockquote mb-0">
                      <span>ชื่อ-สกุล : </span>{{data.EMP_NAME}}
                    </blockquote>
                    <blockquote class="blockquote mb-0">
                      <span>เริ่ม : </span> {{data.START_TIME}}
                    </blockquote>
                    <blockquote class="blockquote mb-0">
                      <span>สิ้นสุด : </span> {{data.END_TIME}}
                    </blockquote>
                    <blockquote class="blockquote mb-0">
                      <pspan>จำนวน : </span> {{data.QTY*8 == 8 ? '1 วัน' : data.QTY*8 + ' ชั่วโมง'}} 
                    </blockquote>
                   
                  </div>
                </div>
            </div>
            



		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>